---
layout: default
---

<div class="posts">
  <article class="post">
    <h1><a href = "https://jsh93.github.io/Automaticdoor/">얼굴 인식 자동문.</br>Face recognition automatic door</a></h1>
    <blockquote>
    {% for post in site.categories.Programming reversed %}
      <h4>●&nbsp<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
    {% endfor %}
    </blockquote>
  </article>
  {% for post in site.categories.Travel %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </article>
  {% endfor %}
</div>
