---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <div class="tag">
    <img src="../images/My_Photo.jpg" width="150" height="150" border="1" align="left">
    <font size="2"><b>
      &nbsp&nbspName : Jeon Seunghoon</br></br>
      &nbsp&nbspEmail : <a href="mailto:hoony1993@naver.com">hoony1993@naver.com</a></br></br>
      &nbsp&nbspMajor : Computer Science
    </b></font>
    <br clear=left>
  </div>
  <div class="date">
    </br>Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
